<h1>Notes#new</h1>
<div class="container">
  <h1>New Note</h1>
  <%= simple_form_for [@period, @note] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
