.category-wrapper {
  display: flex;
  // justify-content: space-evenly;
  //
  overflow: scroll;
}

abbr {
  display: none;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  // position: absolute;
  transform: scale(0);
  display: none;
}

.category-selector + label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
  // width: 40%;
  font-size: 10px;
  text-align: center;
  padding: 8px;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  background: #F1D0E0;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.category-selector:checked + label {
  // color: white !important;
  background: #e8a0bf99;
  border: 2px solid #E8A0BF;
}

.button {
  // position: absolute;
  // top:50%;
  background-color:#D9E4F5;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin-left: 25px;
  }
}
