.category-wrapper {
  display: flex;
  // justify-content: space-evenly;
  //
  overflow: scroll;
  padding-bottom: 30px;
  color: crimson;
  font-weight: normal;
  font-size: xx-large;
}

abbr {
  display: none;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  // position: absolute;
  transform: scale(0);
  display: none;
}

.category-selector + label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
  // width: 40%;
  font-size: 10px;
  text-align: center;
  padding: 8px;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  background: #F1D0E0;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.category-selector:checked + label {
  // color: white !important;
  background: #e8a0bf99;
  border: 2px solid #E8A0BF;
}

.button {
  // position: absolute;
  // top:50%;
  background-color:#F1D0E0;
  margin-top: 50px;
  padding: 6px;
  margin-left: 11px;
}

.btn {
  background-color: #92B4EC;
  border: none;
  color: aliceblue;
  padding: 12px 16px;
  font-size: 13px;
  cursor: pointer;
  display: center;
  font-family: 'Nunito';
  font-weight: bolder;
}

.legend {
  float: left;
  width: 100%;
  padding: 0;
  font-family: 'Nunito';
  color: #F15BB5;
  font-weight: bolder;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: 30px;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  font-family: 'Nunito';
  color: white;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.container {
  width: 300px;
  margin-left: 25px;
  color: navy;
  padding-bottom: 50px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin-left: 40px;
    display: flex;
    align-items: center;
  }
}
