<div class="page-title">Advice</div>
<div class="content">
  <div class="scroll">
    <div class="cards-article">
    <div class="card-new" style="background-image: url(https://images.unsplash.com/photo-1587337905415-bb0d87a75610?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
    IS PERIOD SKIN A MYTH?
    <i class="fa-regular fa-heart like"></i>
    </div>

    <div class="card-new" style="background-image: url(https://images.unsplash.com/photo-1516062423079-7ca13cdc7f5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGZ1bm55JTIwcXVvdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
    TIPS FOR A GOOD PERIOD DAY
    <i class="fa-regular fa-heart like"></i>
    </div>
    <%= link_to "/articles/show" do %>
    <div class="card-new" style="background-image: url(https://images.unsplash.com/flagged/photo-1587096472434-8b65b343980d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
    KICK PAIN IN THE *SS
    <i class="fa-solid fa-heart like-solid"></i>
    </div>
    <%end%>
    <div class="card-new" style="background-image: url(https://images.unsplash.com/photo-1625165406821-544b00fde1b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80)">
    FIXING PERIOD POVERTY
    <i class="fa-regular fa-heart like"></i>
    </div>

  <div class="card-new" style="background-image: url(https://images.unsplash.com/photo-1593527236797-2ac903c159dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
    LET'S TALK ABOUT SEX BABY
    <i class="fa-regular fa-heart like"></i>
    </div>

    <div class="card-new" style="background-image: url(https://images.unsplash.com/photo-1613643971996-c9f6e7d07000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGZsb3d8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
    YOUR CYCLE PHASES EXPLAINED
    <i class="fa-regular fa-heart like"></i>
    </div>

    <div class="card-new" style="background-image: url(https://images.unsplash.com/photo-1575998064976-9df66085cc83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1673&q=80)">
    CONTRACEPTION Q&A
    <i class="fa-regular fa-heart like"></i>
    </div>

    <div class="card-new" style="background-image: url(https://images.unsplash.com/photo-1607185073253-44296286cd82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
    MORE SUSTAINABLE PERIODS
    <i class="fa-regular fa-heart like"></i>
    </div>

    <div class="card-new" style="background-image: url(https://images.unsplash.com/photo-1495069781661-dfeacdef0531?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGhlbGxvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
    ASK DR JESS YOUR MOST BURNING QUESTIONS
    <i class="fa-regular fa-heart like"></i>
    </div>
</div>
</div>
</div>
