<section class="hero-section">
<div class="card-grid">
    <a class="cards" href="#"> 
<div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1635469564142-b328835d1187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1450&q=80);;height: 250px;;;"></div>
    <div class="card__content">
        <p class="card__category">PERIOD</p>
    </div>
    </a>
    <a class="cards" href="#">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1625165406821-544b00fde1b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);;height: 250px;;;"></div>
    <div class="card__content">
        <p class="card__category">ADVICE</p>
    </div>
    </a>
    <a class="cards" href="#">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1593527236797-2ac903c159dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);;height: 250px;;;"></div>
    <div class="card__content">
        <p class="card__category">SEX</p>
    </div>
    </li>
    <a class="cards" href="#">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1545231097-cbd796f1d95f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1590&q=80);;height: 250px;;;"></div>
    <div class="card__content">
        <p class="card__category">LBTQIA+</p>
    </div>
    </a>
<div>
</div></section>