<section class="hero-section">
<div class="card-grid">
    <a class="cards" href="#">
<div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1597257512912-68fd87872be4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80);;height: 250px;;;"></div>
    <div class="card__content">
    <p class="card__category">OUCH! IS THIS PAIN NORMAL?</p>
    </div>
    </a>
    <a class="cards" href="#">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1542272201-b1ca555f8505?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);;height: 250px;;;"></div>
    <div class="card__content">
        <p class="card__category">Your Menstrual Cycle Phases</p>
    </div>
    </a>
    <a class="cards" href="#">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1524678714210-9917a6c619c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3269&q=80);;height: 250px;;;"></div>
    <div class="card__content">
        <p class="card__category">Why You Might Have Irregular Periods</p>
    </div>
    </li>
    <a class="cards" href="#">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1506003094589-53954a26283f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);;height: 250px;;;"></div>
    <div class="card__content">
        <p class="card__category">IS 'PERIOD SKIN' A MYTH?</p>
    </div>
    </a>
<div>
</div></section>