<div class="card-cat" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1574533208165-453ad22099d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1807&q=8)">
 <div class="card-title">Period Pain</div>
</div>
<div class="container-article">
<div class="scroll-story">
  <h1 class="story-title">What is normal and when to see your GP</h1>
  <p class="story-content">You Shouldn't Accept Period Pain & Discomfort As Normal, Explains Expert, Alice Broster</p>
  <br>
  <p class="story-content">While most people start their periods between the ages of 11 and 14 and the average cycle is around 24 to 38 days, there's nothing typical about periods. What might be totally normal for you will be a cause for concern for others. Getting to know your monthly bleed will give you a greater insight into your health more broadly. Many people experience symptoms alongside their bleed and there are a number of incredibly common period complications that aren't spoken about. While some side effects are totally routine, an expert explains why you shouldn't accept that pain during your period as normal and acceptable.</p>
  <br>
  <p class="story-content">Cramps are one of the most common side effects of menstruation. It's been estimated that between half and 84% of people who have a monthly bleed also experience pain and cramping. "One of the biggest issues I have is that we're led to believe pain, discomfort and all unpleasant symptoms are totally normal. Unfortunately, this way of thinking means that so many women just grit their teeth through their periods but it just shouldn't be this way," says Nutritional Therapist and founder of the online platform The Female Health Hub Jodie Brandman, "our period is actually a window into our health and if something is difficult then we need to explore it and give our bodies a bit of TLC, digging deeper to find out what's going on."</p>
  <br>
  <p class="story-content">According to research, 90% of people experience some side effects during their period. Up to 40% said the pain they experience is so severe they've had to miss school or work. Knowing what's normal for you is so important but if you need help managing your period you should speak to your clinician. The normalization of pain during your bleed can lead to people going undiagnosed for conditions such as endometriosis and uterine fibroids. Brandman says, "intense cramping is not okay and having really irregular cycles is also an indicator that our body isn't happy."</p>
  <br>
    <p class="story-content">Endometriosis is when uterine tissue grows outside the uterus. In a similar way to your monthly bleed, the cells build up, break down and bleed. However, it has nowhere to leave the body and this can cause intense pain. This process may also not align with your cycle making endometriosis unpredictable and incredibly debilitating for sufferers. “Endometriosis is a condition that can take years to diagnose and signs can massively vary amongst women,” says Brandman, “a lot of the time it can get misdiagnosed as IBS, as endometriosis can affect the bowel. It can also show up as bladder infections or UTIs, and one common sign is pain during intercourse.” It’s estimated that 176 million people worldwide suffer from endometriosis from the time they start their period until menopause.
  <br>
  <p class="story-content">Uterine fibroids may also be missed due to assumptions about period pain and flow. According to the National Institute of Health, 70% of white women and 80% of African American women will be affected by fibroids by the age of 50. One in three people will experience symptoms that can include heavy and painful periods, lower back and abdominal pain and pain or discomfort during sex. Brandman says, “a diagnosis usually requires scans, laparoscopy or a biopsy. Please don’t panic though and ask Dr. Google as these signs can be related to other smaller issues too, so just run anything past your actual doctor first.”
  </p>
</div>
</div>
