<div class="card-cat" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1576649799019-7dceb1429765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1625&q=80)">
<div class="card-title">Period Pain</div>
</div>
<br>
<div class="container-article">
<div class="scroll-story">
  <h1 class="story-content-main"><em>"We're led to believe pain, discomfort and all unpleasant symptoms are totally normal but it just shouldn't be this way" Jodie Brandman</em></h1>
  <p class="story-content-1">We asked you recently on Instagram to share your best tips for relieving pain during your period:</p>
  <ul>
  <li>82% suggested a hot bath or water bottle</li>
  <li>70% recommended exercise, with yoga, pilates and a brisk walk hailed as the most effective</li>
  <li>60% suggested drinking lots of water and herbal teas</li>
  <li>58% rely on painkillers every month, such as paracetomal or ibuprofen</li>
  <li>38% recommended meditation using the Calm app </li>
  <li>22% suggested a soothing massage</li>
  <li>18% recommended TENS Digital Pain Relief</li>
</ul>
  <p class="story-content-2">If you are experiencing pain so severe that it affects your day-to-day activities and quality of life, contact a GP for help.</p>
  <p class="story-content-3"><em>This is intended for informational purposes only. It is not a substitute for professional medical advice, diagnosis or treatment.<em></p>
</div>
<div class="container-share">
        <i class="fa-solid fa-share-nodes"></i>
        <i class="fa-solid fa-comment"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
      </div>
    </div>
</div>

