<div class="card-cat" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1574533208165-453ad22099d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1807&q=8)">
  Period Pain
</div>
<div class="container">
<div class="scroll">
    <h1 class="story-title">What is normal and when to see your GP</h1>
    <p class="story-content">You Shouldn't Accept Period Pain & Discomfort As Normal, Explains Expert, Alice Broster</p>
   <p class="story-content">While most people start their periods between the ages of 11 and 14 and the average cycle is around 24 to 38 days, there's nothing typical about periods. What might be totally normal for you will be a cause for concern for others. Getting to know your monthly bleed will give you a greater insight into your health more broadly. Many people experience symptoms alongside their bleed and there are a number of incredibly common period complications that aren't spoken about. While some side effects are totally routine, an expert explains why you shouldn't accept that pain during your period as normal and acceptable.

Dysmenorrhea, more commonly known as cramps, are one of the most common side effects of menstruation. It's been estimated that between half and 84% of people who have a monthly bleed also experience pain and cramping. "One of the biggest issues I have is that we're led to believe pain, discomfort and all unpleasant symptoms are totally normal. Unfortunately, this way of thinking means that so many women just grit their teeth through their periods but it just shouldn't be this way," says Nutritional Therapist and founder of the online platform The Female Health Hub Jodie Brandman, "our period is actually a window into our health and if something is difficult then we need to explore it and give our bodies a bit of TLC, digging deeper to find out what's going on."

According to research, 90% of people experience some side effects during their period. Up to 40% said the pain they experience is so severe they've had to miss school or work. Knowing what's normal for you is so important but if you need help managing your period you should speak to your clinician. The normalization of pain during your bleed can lead to people going undiagnosed for conditions such as endometriosis and uterine fibroids. Brandman says, "intense cramping is not okay and having really irregular cycles is also an indicator that our body isn't happy."</p>
</div>
</div>
