<div class="container">
  <h1>Physical symptoms</h1>

    <% @physical_symptoms.each do |physical_symptoms|  %>
      <div class="checkbox">
        <%= physical_symptoms.emoji %>
        <%= physical_symptoms.name %>
        <%= check_box_tag physical_symptoms.id %>
       </div>
    <% end %>

    <div>












</div>
