<h1>Physical symptoms</h1>
<div class="container">
  <% @physical_symptoms.each do |physical_symptoms|  %>
      <h3><%= physical_symptoms.name %></h3>
      <%= physical_symptoms.emoji %>
      </div>
   <% end %>
</div>
