<div class="container">
  <h1>Physical symptoms</h1>
    <%= simple_form_for @physical_symptom do |form| %>
        <%= f.input :category,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Snippet::CATEGORIES %>
              <%# @physical_symptoms.each do |physical_symptoms|  %>
                <%# <div class="checkbox"> %>
                  <%# <span class="emoji">= physical_symptoms.emoji</span> %>
                  <%#= physical_symptoms.name %>
                <%# </div> %>
                <%#= check_box_tag physical_symptoms.id %>
              <%# end %>
      <%= form.submit "Create" %>
    <% end %>
  </div>
</div>
