<div class="container">
  <h1 class="display-1 text-center p-5">Edit Period</h1>
  <div class="col text-center">
    <%= render "form", period: @period, form_type:"edit" %>
  </div>
  <div class="col text-center">
    <%= link_to "Add Symptoms", new_period_period_day_symptom_path(@period), class: "btn btn-secondary btn-lg mt-3"%>
  </div>
</div>
