<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-1">Period Calendar </h1>
      <div class ="calendar">
        <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @periods) do |date, periods| %>
          <%= date.day %>
          <% periods.each do |period| %>
            <div>
              <%= link_to "Edit Period", edit_period_path(period), class: "btn btn-primary"%>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to "Add New Period", "periods/new", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
