<div class="footer">
<div class="footer-links">
<button class="btn"><i class="fa-solid fa-moon"></i></button>
<%= link_to "/periods", class: "btn" do %>
<i class="fa-solid fa-calendar-days"></i>
<%end%>
<%= link_to "/periods/new", class: "btn" do %>
<i class="fa-solid fa-plus"></i>
<%end%>
<button class="btn-icon"><i class="fa-solid fa-lightbulb"></i></button>
<button class="btn"><i class="fa-brands fa-readme"></i></button>
</div>
</div>

<%# <%= link_to "Calendar", "/periods", class: "btn btn-primary btn-lg" %>
<%# <button class="btn"><i class="fa-solid fa-calendar-days"></i></button> %>
