<div class="container text-center text-white">
  <div class="col">
  <div class="row">
    <div class="jumbotron pt-5">
      <h1 class="display-1">TOTM<h1>
      <p class="lead"> Lorem Ipsum </p>
      <hr class="my-4">
      <p class="lead">
        <% if user_signed_in? %>
          <%= link_to "Calendar", "/periods", class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
          <%= link_to "Sign Up", "users/sign_up", class: "btn btn-secondary btn-lg" %>
        <% end %>
      </p>
    </div>
  </div>
  </div>
</div>
