<div class="container text-center text-white">
  <div class="col">
  <div class="row">
    <div class="jumbotron pt-5">
      <h1 class="display-1">TOTM<h1>
      <p class="lead"> Lorem Ipsum </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button"> Sign Up </a>
        <a class="btn btn-secondary btn-lg" href="#" role="button"> Log In </a>
      </p>
    </div>
  </div>
  </div>
</div>
