.page-title
{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  color: white;
}

.card-cat {
  background-size: cover;
  background-position: center;
  height: 100px;
  border-radius: 30px;
  padding: 29px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
  box-shadow: rgba(79, 23, 124, 0.4) 0px 5px, rgba(79, 23, 124, 0.3) 0px 10px, rgba(79, 23, 124, 0.2) 0px 15px, rgba(79, 23, 124, 0.1) 0px 20px, rgba(79, 23, 124, 0.05) 0px 25px;
}

.card-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  color: white;
}

h1.story-content {
  font-size: 25px;
  color: white;
  text-align: justify;
  font-weight: bold;
  width: 248px;
}

.story-content-1{
  font-size: 20px;
  color: white;
  display: block;
  text-align: justify;
  width: 248px;
}


.story-content{
  font-size: 18px;
  color: white;
  display: block;
  text-align: justify;
  width: 248px;
}


div.scroll-story {
  background-color: transparent;
  width: 368px;
  height: 658px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}
.container-article {
  min-height: 643px;
}

html:has(body > .card-cat) {
  overflow: hidden;
}

.like-solid {
  font-size: 18px;
  color: white;
  padding-bottom: 208px;
}

.like {
  font-size: 18px;
  color: white;
  padding-bottom: 208px
}

a:link {
  text-decoration: none;
}


.container-article {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  max-width: 315px;
}