.page-title
{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  color: white;
}

.card-cat {
  background-size: cover;
  background-position: center;
  height: 152px;
  width: 315px;
  border-radius: 30px;
  padding: 58px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
}

.card-title {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  color: white;
}

.story-title {
  font-size: 25px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 30px;
  text-align: center;
  width: 315px;
  padding-left: 36px;
}

.story-content{
  font-size: 18px;
  color: white;
  font-weight: bold;
  display: block;
  text-align: justify;
  width: 315px;
  padding-left: 36px;
}


div.scroll-story {
  background-color: transparent;
  width: 600px;
  height: 658px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}
.container-article {
  min-height: 643px;
}

html:has(body > .card-cat) {
  overflow: hidden;
}
