.card-cat {
  background-size: cover;
  background-position: center;
  height: 152px;
  width: 315px;
  color: white;
  font-size: 24px;
  text-align: justify;
  font-weight: bold;
  border-radius: 30px;
  padding: 58px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
}

.card-title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
}

.story-title {
  font-size: 22px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 30px;
}

.story-content{
  font-size: 18px;
  color: white;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
}


div.scroll-story {
  background-color: transparent;
  width: 600px;
  height: 658px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}
