.btn {
    background-color: #92B4EC;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: center;
}

.btn:hover {
  background-color: #E8A0BF;
}

.btn-icon {
  background-color: #92B4EC;
  box-shadow: rgba(0, 0, 0, 0.40) 0px 2px 4px, rgba(0, 0, 0, 0.30) 0px 7px 13px -3px, rgba(0, 0, 0, 0.20) 0px -3px 0px inset;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  display: center;
  border-radius: 10%;
}


.btn-icon:hover {
  background-color: #E8A0BF;
}

// a.btn-icon {
//   display: block;
//   line-height: 50px;
//   padding: 0 20px;
//   color: inherit;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   border-radius: 10%;
// }

input.btn.btn.btn-primary.btn-lg.mt-3.submit-new {
  background-color: #6f38c5;
  border: none;
  color: aliceblue;
  padding: 5px 5px;
  font-size: 20px;
  cursor: pointer;
  display: initial;
  font-family: 'Nunito';
  font-weight: bolder;
}

.pdsbutton {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;
  width: 90px;
  height: 50px;
}
