.circle {
  border-radius: 50%;
  /* box-shadow: 0.375em 0.375em 0 0 rgb(15 28 63 / 13%); */
  height: 300px;
  width: 300px;
  padding-top: 63px;
  opacity: 94%;
  background-color: #a9caff;
  // box-shadow: 20px 20px 50px 10px pink inset;
  box-shadow: 20px 20px 50px 10px #ff00bea6 inset;
}

.home-period {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: -83px;
  font-size: 150%;
  font-weight: 550;
  padding-top: 27%;
  // font-family: "Nunito", "Helvetica", "sans-serif";
}

.home-period2 {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 300%;
  font-weight: bold;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.calender-cards {
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  // padding: 15px;
  padding: 16px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
  height: 5px;
  align-items: center;
}
.calender-cards-days {
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  // padding: 15px;
  padding: 16px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  height: 5px;
  align-items: center;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.home-row {
  margin: 0 -5px;
  width: 62%;
  // height: 59%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 70px;
  margin-left: -16%;
  margin-top: -56px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  text-align: center;
  background-color: transparent;
  height: 60px;
  font-size: 10px;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: center;
}

.thur {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  text-align: center;
  height: 60px;
  font-size: 10px;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: center;
  background-color: #f3dee7;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

.date-home {
  font-size: 16px;
  color: black;
  text-align: center;
  padding-bottom: -11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: -42px;
}

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

// *{
//   border: 0;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

html{
  height: 100%;
}

// body{
//   height: 100%;
// }

// .hero-section{
//   align-items: flex-start;
//   display: flex;
//   min-height: 100%;
//   justify-content: center;
//   // padding: var(--spacing-xxl) var(--spacing-l);
// }

// .card-grid{
//   display: grid;
//   grid-template-columns: repeat(1, 1fr);
//   grid-column-gap: var(--spacing-l);
//   grid-row-gap: var(--spacing-l);
//   max-width: var(--width-container);
//   width: 65%;
// }

// @media(min-width: 540px){
//   .card-grid{
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media(min-width: 960px){
//   .card-grid{
//     grid-template-columns: repeat(4, 1fr);
// //   }
// }

// .card-new{
//   list-style: none;
//   position: relative;
// }

.display-1.text-center.p-5 {
  font-size: 150%
}

.start-period {
    width: 300px;
    margin-left: 40px;
}

// body {
//   margin: 0;
//   font-family: var(--bs-body-font-family);
//   font-size: var(--bs-body-font-size);
//   font-weight: var(--bs-body-font-weight);
//   line-height: var(--bs-body-line-height);
//   color: var(--bs-body-color);
//   text-align: var(--bs-body-text-align);
//   background-color: var(--bs-body-bg);
//   -webkit-text-size-adjust: 100%;
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   height: 1000px;
// }

label {
  display: inline-block;
  margin-bottom: 25px;
  padding-top: 24px;
  font-weight: bold;
  -webkit-text-stroke: 0.5px #9e9d9d;
  color: white;
  font-size: 31px;
  font-family: 'Nunito';
}




.content {
  display: flex;
  align-items: center;
}

.cards-article {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-height: 100%;
  justify-content: center;
  display: grid;
  grid-gap: 16px;
  padding: 8px;
}

.card-new {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  padding: 5px;
  font-family: 'Nunito';
}

.card-new:hover {
  transform: scale(1.05) translateZ(0)
}

div.scroll {
  background-color: transparent;
  width: 600px;
  height: 658px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}


@media(min-width: 540px){
    .card-new{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(min-width: 960px){
    .card-new{
      grid-template-columns: repeat(4, 1fr);
    }
  }


/*Media Queries*/

// /*Smallest device*/
// @media (min-width: 100px) and (max-width: 575px) {
//   .card-new {
//     grid-template-columns: 1fr;
//   }
// }

// /*Small devices (landscape phones, 576px and up)*/
// @media (min-width: 576px) {
//   .card-new {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// /*Medium devices (tablets, 768px and up)*/
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

.new {
  // margin: auto;
  // padding: 2em;
  // border-radius: 1em;
  // border: 1px solid transparentize($white, 0.5);
  // text-shadow: 0 0 1em transparentize($black, 0.5);
  // background: transparentize($white, 0.8);
  // backdrop-filter: blur(20px);
  // transform: perspective(500px);
  // transform-style: preserve-3d;
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  }

  .container-symptoms{
    width: 300px;
    margin-left: 40px;
    display: grid;
    align-items: center;
  }
