.footer-links {
    display: flex;
    justify-content: center;
    padding: 0px 50px;
    color: white;
    gap: 8%;
    align-items: flex-end;
}
.footer {
  display: flex;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  height: 50px;
}
