// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "emoji";
@import "card";
@import "calender";
@import "button";
@import "footer";
@import "article";

body {
  background-image: linear-gradient(67.6deg, #dfd9ed -2.8%, #d3c1fa 44.6%, #0a74de 102.4%);
  height: 100%; /* You must set a specified height */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}
