// @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
// body {
//   font: 100% Roboto, sans-serif;
//   background: url(http://wallpapercave.com/wp/aZlqiAT.png) 50% 50% no-repeat;
//   background-size: cover;
//   padding: 50px;
//   margin: 0;
// }

.new-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: -20%;
}

nav {
  width: 300px;
  // background: #E8A0BF, opacity 50%;
  color: white;
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover { background: #E8A0BF; }

a:hover { opacity: 0.5; }

a:active { background: #E8A0BF; }

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: #E8A0BF;
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: #E8A0BF;
  position: absolute;
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }

.drop-down {
  width: 200px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-size: 20px;
}
// body{
//   display:flex;
//   justify-content:center;
//   position: absolute;
//   // right: 0;
//   height: 100vh;
//   width: 100vw;
//   margin:0;
//   background:#181D26;
// }

.brand {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -68px;
  right: -48px;
  transform: scale(0.50);
}

.brand:before {
  background-size: 100% 100%;
  content: "TOTM";
  line-height: 205px;
  color: #E8A0BF;
  font-size: 20px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;

  z-index: 99999 !important;
}

.logo{
  animation: 5s linear infinite;
  animation-name: rotate-0;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  float: top;
}

svg path{
  position:absolute;
  fill:none;
  stroke-width:2;
  top:0;
  left:0;
  /*mix-blend-mode: multiply;*/
  transform-origin: 50% 50%;
  transform: rotate(0deg) ;
  animation: 4s linear infinite;
}

.logo svg path:nth-child(1) {
  opacity: 1;
  animation-name: rotate-1;
  animation-delay: .5s;
}
.logo svg path:nth-child(2) {
  opacity: .5;
  animation-name: rotate-2;
  animation-delay: .6s;
}
.logo svg path:nth-child(3) {
  opacity: .8;
  animation-name: rotate-3;
  animation-delay: .7s;
}


@keyframes scale-1 {
  0%{
    transform: scale(1);
  }50% {
    transform: scale(.9);
  }100% {
    transform: scale(1);
  }
}

@keyframes rotate-0 {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rotate-1 {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rotate-2 {
  from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

@keyframes rotate-3 {
  from { transform: rotate(0deg); }
    to { transform: rotate(0deg); }
}
